._local {
      @size: 48px;

      bottom: 0;
      left:270px;
      width: calc(100% - 270px - 414px - @size);
      height: @size;
      background-color: white;
      z-index: 10;

      :global {}
}