._local {
      height: 90px;
      padding: 0 36px;
      padding-top: 18px;

      @media screen and (max-width:767px){
            height: auto;
            padding: 0px;
            padding-top: 12px;
      }

      :global {
            .name_wrap {
                  margin-bottom: 12px;

                  .name {
                        font-size: 24px;
                        line-height: 1;
                        margin-right: 12px;

                        &:hover {
                              background-clip: text;
                              -webkit-background-clip: text;
                              -webkit-text-fill-color: transparent;
                              background-image: var(--color_text_colored);
                        }

                        .icon_link{
                              top: -6px;
                              right: -24px;
                              width: 15px;
                              opacity: 0.2;
                        }
                  }
            }

            .version {
                  color: var(--color_text_desc);
                  line-height: 1;
            }

            .ver {
                  color: var(--color_text_desc);
            }
      }
}