._local {
      :global {
            .content_wrap {
                  padding-left: 270px;
                  padding-right: 414px;

                  .content{
                        padding:36px 60px;
                  }
            }
      }
}