.markdown {
      width: 100%;
      box-sizing: border-box;
      padding: 18px 36px;
      color: black;

      :global {
            .anchor {
                  visibility: hidden;
            }

            table {
                  width: 100%;
                  margin-bottom: 48px;
                  border-collapse: separate;
                  border-spacing: 0px;

                  th,
                  td {
                        padding: 16px 0;
                        border-bottom: 1px solid var(--color_border);
                        font-size: 13px;
                        text-align: left;

                        &:nth-last-child(1) {
                              text-align: right;
                        }
                  }

                  th {
                        padding-top: 8px;
                        white-space: nowrap;
                        border-bottom: 1px solid var(--color_border);
                        font-weight: normal;
                        color: var(--color_text_desc);
                  }
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                  display: flex;
                  margin-bottom: 8px;
                  font-weight: 500;
                  line-height: 1;
            }

            h1 {
                  font-size: 2em;
            }

            h2 {
                  margin-bottom: 24px;
            }

            h3 {
                  padding-left: 8px;
                  margin-bottom: 15px;
                  border-left: 3px solid black;
                  border-radius: 3px;
            }

            ol,
            ul {
                  padding-left: 18px;
                  margin-top: 15px;
                  margin-bottom: 0;

                  li{
                        margin-bottom: 9px;
                        list-style-type: circle;
                        font-size: 13px;

                        &:last-child{
                              margin-bottom: 0;
                        }
                  }
            }

            pre {
                  padding: 0;
                  margin: 0;
                  overflow: visible;
            }

            .prism-code {
                  overflow: auto;
                  padding: 12px 0 !important;
                  padding-right: 12px !important;
                  margin-bottom: 48px !important;
                  line-height: 1.8 !important;
                  font-size: 13px !important;
                  border-radius: 6px;
                  background: black !important;
                  transition: all ease 0.3s;
                  overflow: scroll;

                  .token-line:last-child {
                        display: none;
                  }
            }

            p {
                  margin-top: 10px;
                  margin-bottom: 16px;
                  line-height: 1.8;

                  img {
                        max-width: 100%;
                  }

                  code,
                  tt {
                        padding: .2em .4em;
                        background-color: rgba(27, 31, 35, .05);
                        border-radius: 3px;
                  }
            }
      }
}