@keyframes rotate {
      form {
            transform: rotate(0deg);
      }

      to {
            transform: rotate(360deg);
      }
}

._local {
      :global {
            .taichi_wrap {
                  @size: 1800px;
                  @size_dot: @size*0.16;

                  .taichi {
                        position: relative;
                        width: @size;
                        height: @size;
                        border: 2px solid #000;
                        border-width: 2px calc(@size / 2) 2px 2px;
                        border-radius: 50%;

                        :local {
                              animation: rotate 24s infinite linear;
                        }

                        .white-circle {
                              position: absolute;
                              top: 0;
                              left: 50%;
                              width: calc(@size / 2 - 2px);
                              height: calc(@size / 2 - 2px);
                              border-radius: 50%;
                              background: #fff;
                        }

                        .white-circle::after {
                              position: absolute;
                              top: calc((@size / 2 - @size_dot) / 2);
                              left: calc((@size / 2 - @size_dot) / 2);
                              width: @size_dot;
                              height: @size_dot;
                              border-radius: 50%;
                              background: #000;
                              content: "";
                        }

                        .black-circle {
                              position: absolute;
                              top: 50%;
                              left: 50%;
                              width: calc(@size / 2 - 2px);
                              height: calc(@size / 2 - 2px);
                              border-radius: 50%;
                              background: #000;
                        }

                        .black-circle::after {
                              position: absolute;
                              top: calc((@size / 2 - @size_dot) / 2);
                              left: calc((@size / 2 - @size_dot) / 2);
                              width: @size_dot;
                              height: @size_dot;
                              border-radius: 50%;
                              background: #fff;
                              content: "";
                        }
                  }
            }

            .taichi_mask {
                  background-color: rgba(255, 255, 255, 0.48);

                  backdrop-filter: blur(81px);
                  -webkit-backdrop-filter: blur(81px);
            }

            .content_wrap {
                  position: relative;
                  z-index: 10;

                  .slogan {
                        margin-bottom: 4px;
                        font-size: 48px;
                  }

                  .description {
                        margin-bottom: 40px;
                        font-size: 18px;
                  }

                  .btn_start {
                        width: 120px;
                        height: 48px;
                        border: 1px solid black;
                        font-size: 16px;
                        line-height: 1;
                  }
            }

            @media screen and (max-width:767px) {
                  .content_wrap {
                        .slogan {
                              font-size: 30px;
                        }

                        .description {
                              margin-bottom: 24px;
                              font-size: 15px;
                        }

                        .btn_start {
                              width: 90px;
                              height: 36px;
                              font-size: 13px;
                        }
                  }
            }
      }
}