.fold {
      transform: translateX(100%);
}

._local {
      z-index: 2;
      overflow: hidden;
      width: 414px;
      border-left: 1px solid var(--color_border);
      background-color: white;

      @media screen and (max-width:767px) {
            padding-bottom: 48px;
            width: 100%;
      }

      :global {
            .simulator {
                  overflow: hidden;
                  flex: 1;

                  .iframe {
                        height: 100%;
                        background-color: whitesmoke;
                  }
            }

            .option_items_wrap {
                  height: @size;
                  border-top: 1px solid var(--color_border);
                  background-color: white;

                  @size: 48px;

                  .icon_download_wrap {
                        width: @size;
                        height: 100%;

                        .icon_download {
                              font-size: 18px;
                              line-height: 1;
                        }
                  }

                  .npm_wrap {
                        flex: 1;
                        border-left: 1px solid var(--color_border);
                        font-size: 15px;
                  }
            }

            .logo {
                  padding: 48px 0px;
                  border-top: 1px solid var(--color_border);
                  background-color: white;
                  line-height: 1;

                  &:hover {
                        background-color: var(--color_hover);
                  }

                  .logo_text {
                        margin-left: 24px;

                        .text {
                              margin-bottom: 10px;
                              font-size: 24px;
                        }

                        .slogan {
                              font-size: 13px;
                        }
                  }
            }
      }
}

.modal {
      width: 450px !important;

      @media screen and (max-width:767px) {
            width: 100%;
      }

      :global {
            .download_items {
                  padding: 48px;
                  padding-bottom: 66px;
            }
      }
}